{{url}}
<div class="youtube_container">
  <iframe [src]=url height="500px" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
</div>

<div class="video_info">
  <div class="info">
    <p class="title">{{highlight.title}}</p>
    <div class="desc">{{highlight.desc}}</div>
  </div>

  <div class="action">
    <div class="icon_text_btn">
      <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
      <span class="material-symbols-outlined">
      thumb_up
      </span>
      </button>
      <span>{{highlight.like}}</span>
    </div>

    <div class="icon_text_btn">
      <button class="icon_btn" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
      <span class="material-symbols-outlined">
      thumb_down
      </span>
      </button>
      <span>{{highlight.dislike}}</span>
    </div>
  </div>


</div>
